
.shoptitle{
    font-size: 3.5rem;
    color:rgb(254, 255, 249);
}
.shoptitle + p{
    font-size: 19px;
    color:rgb(133, 133, 133);
    font-weight: 500;
}
.container2{
    background-color: rgb(32, 32, 32);
    padding: 4.5rem;
    text-align: center;
}
.root{
    height:auto;
    background-color: rgb(211, 211, 211);
    padding: 5% 7%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
}
.footer{
    padding: 2.5rem;
    background-color:rgb(32, 32, 32) ;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:250px;
    text-align: center;
    height:350px;
    position:relative;
    line-height: 15px;
    
}
.card-img-top{
    height: 150px;
    width:250px;
    object-fit: cover;

}
.card-img-overlay{
    height:fit-content;
    text-align: end;
}
.button button{
    position:absolute;
    top:85%;
    left:50%;
    transform: translate(-50%,-50%);
}
.cardicon i{
    color:yellow;
    font-size: 0.8rem;
}
.cardhead{
    font-weight:bold;
    font-size: 20px;
}
.strike span{
    text-decoration: line-through;
    color:grey;
    margin-right: 5px;
}
.footer i{
    font-size: 14px;
    font-weight:100;
}